POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ci_grupo_2
DATABASE_URL=postgresql://postgres:postgres@db:5432/ci_grupo_2
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin